html {
    background-image: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    touch-action: manipulation;
}

.text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#title {
    color: white;
    z-index: 1;
    font-size: 5em;
    text-align: center;
}

#score{
    color: white;   
    font-size: 5em;
    text-align: center;
    margin-top: -1em;
}

#mute-b {
    position: absolute;
    top: 4%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
}

#img {
    width: 500px;
    height: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preload {
    display: none;
}

.youtube {
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
    color: red;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}