html {
    background-image: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
}

#title{
    font-size: 100px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}

#score {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    z-index: 2;
}

#img {
    width: 600px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}